{% include 'header_and_footer/header.html' %}
<br><br><br>
<h1>Детальная информация о фильме</h1>
<h2>{{film_id.title}}</h2>
<img src="{{film_id.image.url}}" alt="">
<time>{{film_id.year}}</time>
<p>{{film_id.director}}</p>
<p>{{film_id.genre}}</p>
<p>{{film_id.description}}</p>
<time>{{film_id.created_at}}</time>
<hr>
<hr>
<hr>
<hr>
<div class="center_table">
    <table>
        <tr>
            <th>Фильмы</th>
            <th>Оценка</th>
            <th>Отзыв</th>
        </tr>
        {% for review in film_id.coment_object.all%}
        <tr>
            <td>{{review.film_list}}</td>
            <td>{{review.stars}}</td>
            <td>{{review.description}}</td>
        </tr>
        {%endfor%}
    </table>
</div>
<style>
    table {
        font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        text-align: center;
        border-collapse: separate;
        border-spacing: 5px;
        background: #ECE9E0;
        color: #656665;
        border: 16px solid #ECE9E0;
        border-radius: 20px;
    }

    th {
        font-size: 18px;
        padding: 10px;
    }

    td {
        background: #F5D7BF;
        padding: 10px;
    }

    .center_table {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    button{
        background-color: yellow;
        width: 150px;
        height: 50px;
    }
    button a {
        font-size: 18px;
        color: black;
    }
</style>
{% include 'header_and_footer/footer.html' %}
